.container {
    border: dashed rgba(0, 0, 0, 0.1) 1px;
    display: grid;
    grid-template-columns: 90fr 10fr;
    width: 450px;
    margin-left: 34px;
    margin-top: 10px;
    height: 80px;
    border-radius: 5px;
    background: linear-gradient(white,rgba(0,0,0,0.1));
    padding: 20px;
    row-gap: 10px;
}

.item {
    display: flex;
}

.p {
    font-size: 14px;
    margin-right: 3px;
}

.h1 {
    color: #c60845;
    font-size: 14px;
}

.item:nth-of-type(2) {
    justify-self: end;
}

     @media ( max-width: 800px ) {
         .container {
             width: 350px;
         }
     }