.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 90vh;
  background: #f7f3f7;
}

.header {
  grid-column: span 2;
  width: 100%;
}

.myTeams {
  grid-row: span 2;
  width: 80%;
}

.footer {
  grid-column: span 2;
}